# Build files
build/**/*.png
build/docx/
build/epub/
build/pdf/
build/html/
build/latex/
build/arxiv.zip

# Misc
*.log
.DS_Store
**/.DS_Store
.vscode/

# Specific to this project
arxiv_check_results.json
.claude